/* #background {
    height: 725px;
    background-color: white;
} */
body {
    background-color: #fad083;
    max-width: 1600px;
    font-size: 80%;
    margin: 0 auto;
    text-align: center; 
}
header {

    background-color: #478d4d;
}
#logo {
    width: 50%;
    outline: dashed red;
    display: block;
    margin: auto;
}
nav {
    color: #ffffff;
    background-color: #478d4d;
    font-size: 100%;
    text-align: left; 
}
nav a:hover {
    background-color: black;
}
nav.logo {
    text-align: center;
    background-color: #ff0080;
}
/* text-align: center; */
nav a {
    color: #ffffff;
}
h1 {
    color: #129900;
    font-size: larger;
    background-color: #00ff37;
    /* test */
}


/* text-align: center; */















/* #hero-msg h1, #hero-msg h4
.button-box
main section */





/* body {
    color: #666;
}
h1 {
    color: #111;
}
content {
    color: #111;
}
.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
} */