body {
    background-color: #ff0000;
    text-align: center;
}
nav a {
    text-align: center;
}



/* #hero-msg h1, #hero-msg h4
.button-box
main section */





/* body {
    color: #666;
}
h1,h2 {
    color: #111;
}
content {
    color: #111;
}
.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
} */