  .testing {
    font-family: League Gothic;
    font-size: 3em;
    background-color: #bab5ae90;
    font-style: italic;
    padding-left: 25px;
    text-align: center;
    margin: 50px;
}

.aboutus-grid {
    margin-top: 0px;
    display: flex;
    /* background-color:#bab5ae90; */
    background-color:#bab5ae90;
    padding: 2%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
}
.aboutustext {
    background-color: #f0d4af;
    padding: 0px;
    border: solid black  ;
    box-shadow: 2px 2px 2px #928e88;
    flex-wrap: column;
    display: block;
    text-align: center;
    position: relative;
    justify-content: space-around;
    /* align-items: center; */
    /* margin: 10px; */
    max-width: 80%;
    margin: 5 auto;
}
.aboutustext h3 {
    font-family: League Gothic;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    background-color: #d6ab72;
    margin: 0%;
    border-bottom: solid rgba(0, 0, 0, 0.479);
}
.aboutustext p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ublogo {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/2;
    display: block;
    border: solid var(--paragraph-background-color);
    opacity: 100%;
    z-index: 4;
    position: relative;
    box-shadow: 2px 2px 2px #bab5ae;

}

.aboutusfur img{
    max-width: 100%;
    border: solid var(--accent3-color);
    flex-wrap: column;
    align-items: center;
    margin: 15px;
    min-width: 200px;
    min-height: 200px;
    padding: auto;
    align-items: center;
}


.aboutusimage img{
    max-width: 400px;
    border: solid var(--accent3-color);
    flex-wrap: column;
    align-items: center;
    margin: 15px;
    /* min-width: 50%;
    min-height: 50%; */
    padding: auto;
}

@media screen and (max-width: 900px) {
    .aboutus-grid{
        flex-direction: column;
    }
    .aboutusfur {
        max-width: 250px;
        align-items: center;
    }
    footer{
        flex-direction: column;
    }
}