.testing {
    font-family: League Gothic;
    font-size: 3em;
    background-color: #bab5ae90;
    font-style: italic;
    padding-left: 25px;
    text-align: center;
    margin: 50px;
}
.contactus-grid {
    margin-top: 0px;
    display: flex;
    /* background-color:#bab5ae90; */
    background-color:#bab5ae90;
    padding: 2%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: space-around;
    margin: 25px;
    align-items: center;
}
.contactustext {
    background-color: #f0d4af;
    padding: 0px;
    border: solid black  ;
    box-shadow: 2px 2px 2px #928e88;
    flex-wrap: wrap;
    display: block;
    text-align: left;
    position: relative;
    justify-content: space-around;
    /* align-items: center; */
    /* margin: 10px; */
    max-width: 100%;
    margin: 0 auto;
}
.contactustext h3 {
    font-family: League Gothic;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    background-color: #d6ab72;
    margin: 0%;
    border-bottom: solid rgba(0, 0, 0, 0.479);
}
.contactustext p {
    text-align: left;
    padding-left: 20px;
}
img.coverage-img {
    max-width: 100%;
    border: solid var(--accent3-color);
    flex-wrap: wrap;
    align-items: center;
    order: 1;
    margin: 0 auto;
    min-width: 35%;
    min-height: 35%;

}
#feedback {
    background-color: #f0d4af;
    grid-column: 2/2;
    grid-row: 2/2;
}
ul.feedbackbullets {
    list-style: none
}

@media screen and (max-width: 900px) {
    .contactus-grid{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
}